.user-pic {
    display: inline;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

#chatContainer {
    background-color: burlywood;
    width: 97%;
    height: 25rem;
    overflow-y: scroll;
}

.border {
    width: 85%;
}

.btn-primary {
    width: auto;
}

.chatSection {
    display: none;
}

.offlineStatus {
    color: red;
}

.onlineStatus {
    color: green;
}

.currentUser {
    text-align: right;
    margin: 0.5rem;
    font-size: 20px;
}

.distantUser {
    text-align: left;
    margin: 0.5rem;
    font-size: 20px;
}

#message {
    margin-top: 10px;
    border: 2px solid black !important;
}